<html>
  	<head>
	    <title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="../../../css/style.css">
		<link rel="stylesheet" href="../../../js/Treant.css" type="text/css" />
		<script src="../../../js/vendor/raphael.js"></script>
		<script src="../../../js/Treant.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<style>
			li a {
				color: black;
			}
			#pid_table th {
				border-right: 1px solid #dee2e6;
				width : 25%;
			}
			.logo {
				color: black; 
				text-decoration: overline; 
				text-transform: uppercase;
				margin-bottom: -6px;
				font-size: 42px;
				font-weight: 600;
			}
			.logo-downside {
				font-size: 5;
				margin: 0px;
				color: black;
			}
			.file_info p {
				color : #c1c1c1;
			}
			.ellip {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
			.packet {
				text-align: center;
				line-height: 35px;
				border-right: 1px solid #efefef;
			}
		</style>
  	</head>
  	<body>
	<div style="width: 95% !important; margin: auto; margin-bottom: 30px;">
		<div class="container" style="max-width: none; height: 700px; padding-top: 25px;">
			<div class="row">
				<!-- leftside -->
				<div class="col" style="height: 700px; margin-right: 10px;">
					<!-- logo -->
					<div class="row" style="margin-bottom: 60px;">
						<a href="/" style="text-decoration: none;">
							<h2 class="logo">DaDol</h2>
							<p class="logo-downside">EXECUTABLE FILE ANALYSIS</p>
						</a>
					</div>
					<!-- logo fin -->

					<!-- tree -->
					<div class="row">
						<div id="tree-simple" style="margin: auto; margin-bottom: 20px;"></div>
					</div>
					<!-- tree fin -->

					<!-- progress table -->
					<div class="row">
						<div class="col">
							<h4 style="border-bottom: 2px solid black;">FILE DETAILS</h2>
							<table class="table table-striped" id="pid_table">
								<tr>
									<th>PID</th>
									<td><%=pid%></td>
								</tr>
								<tr>
									<th>FILE NAME</th>
									<td><%=process_name%></td>
								</tr>
								<tr>
									<th>FILE</th>
									<td><%=file_list.length%></td>
								</tr>
								<tr>
									<th>PROCESS</th>
									<td><%=process_list.length + memory_list.length%></td>
								</tr>
								<tr>
									<th>REGISTRY</th>
									<%var reg_cnt = createreg_list.length+setvaluereg_list.length+deletekeyreg_list.length+deletevaluereg_list.length%>
									<td><%=reg_cnt%></td>
								</tr>
								<tr>
									<th>SOCKET</th>
									<td><%=connect_list.length%></td>
								</tr>
								<tr>
									<th>SERVICE</th>
									<td><%=createservice_list.length+startservice_list.length+deleteservice_list.length+controlservice_list.length%></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<!-- leftside fin -->

				<!-- rightside -->
				<div class="col" style="overflow-y: scroll; height: 700px; border-left: 1px solid #f2f2f2; margin: auto;">

					<!-- file infromation -->
					<div class="file_info">
						<div class="row">
							<div class="col">
								<h4><%=process_name%></h4>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top: 8px;">
						<div class="col">
							<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link" href="#" onclick="show_other('file')">File</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">Process</a>

								<div class="dropdown-menu">
									<a class="dropdown-item" href="#" onclick="show_other('c_process')">Create Process</a>
									<a class="dropdown-item" href="#" onclick="show_other('w_memory')">Write Memory</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">Registry</a>

								<div class="dropdown-menu">
									<a class="dropdown-item" href="#" onclick="show_other('c_registry')">Create</a>
									<a class="dropdown-item" href="#" onclick="show_other('s_registry')">Set</a>
									<a class="dropdown-item" href="#" onclick="show_other('d_registry')">Delete</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" onclick="show_other('socket')">Socket</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">Service</a>

								<div class="dropdown-menu">
									<a class="dropdown-item" href="#" onclick="show_other('c_service')">Create</a>
									<a class="dropdown-item" href="#" onclick="show_other('s_service')">Start</a>
									<a class="dropdown-item" href="#" onclick="show_other('d_service')">Delete</a>
									<a class="dropdown-item" href="#" onclick="show_other('con_service')">Control</a>
								</div>
							</li>
						</ul>
						</div>
					</div>
					<div class="row">
						<div class="col data-content" style="text-overflow: ellipsis; width: 100%; overflow: scroll; height: 650px;">

							<!-- file table -->
							<table class="table" id="file">
								<thead>
									<tr>
										<th scope="col">Time Stamp</th>
										<th scope="col">File Name</th>
										<th scope="col">File Size</th>
									</tr>
								</thead>
								<tbody>
									<% for(var i = 0; i < file_list.length; i++){%>
									<% var path = "/download/" + timestamp + '/' + pid%>
									<% var file_name = file_list[i][0].replace(/\\/gi,'/').split("/").pop();%>
									<tr>
										<td class="col-md-3"><%=file_list[i][1]%></td>
										<td style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;max-width: 400px;" class="col-md-6">
											<span onclick="show_file_path(<%=i%>)"><%=file_name%></span><br>
											<a href="<%=path%>/<%=file_name%>" style="text-decoration: none; color: #bdbdbd; display: none;" id="f_<%=i%>"><%=file_list[i][0]%></a></td>
										<td class="col-md-3"><%=file_list[i][2]%>byte</td>
									</tr>
									<% } %>
								</tbody>
							</table>
							<!-- file table -->

							<!-- Create Process Table -->
							<table class="table" id="c_process" style="display: none;">
								<thead>
									<tr>
										<th>Pid</th>
										<th>File Name</th>
										<th>Command</th>
									</tr>
								</thead>
								<tbody>
									<% for(var i = 0; i < process_list.length; i++){%>
									<tr>
										<td><a href='<%=process_list[i][0]%>?parent=<%=pid%>' style="color: #bdbdbd; text-decoration: none;"><%=process_list[i][0]%></a></td>
										<td style="max-width: 300px;" class="ellip"><%=process_list[i][1]%></td>
										<td style="max-width: 300px;" class="ellip"><%=process_list[i][2]%></td>
									</tr>
									<% } %>
								</tbody>
							</table>
							<!-- Write Memory Table -->
							<table class="table" id="w_memory" style="display: none;">
								<thead>
									<th>PID</th>
									<th>Adress</th>
									<th>Buffer</th>
								</thead>
								<tbody>
									<% for(var i = 0; i < memory_list.length; i++){%>
									<tr>
										<td><%=memory_list[i][0]%></td>
										<td style="max-width: 300px" class="ellip"><%=memory_list[i][1]%></td>
										<td style="max-width: 300px" class="ellip"><%=memory_list[i][2]%></td>
									</tr>
									<% } %>
								</tbody>
							</table>

							<!-- Create Registry Table -->
							<table class="table" id="c_registry" style="display: none;">
								<thead>
									<th>Time</th>
									<th>Hive</th>
									<th>Adress</th>
								</thead>
								<tbody>
									<% for(var i = 0; i < createreg_list.length; i++){%>
									<tr>
										<td><%=createreg_list[i][0]%></td>
										<td><%=createreg_list[i][1]%></td>
										<td><%=createreg_list[i][2]%></td>
									</tr>
									<% } %>
								</tbody>
							</table>

							<!-- Set Registry Table -->
							<table class="table" id="s_registry" style="display: none;">
								<thead>
									<th>Time</th>
									<th>Hive</th>
									<th>Adress</th>
									<th>Key</th>
									<th>Value</th>
								</thead>
								<tbody>
									<% for(var i = 0; i < setvaluereg_list.length; i++){%>
									<tr>
										<td><%=setvaluereg_list[i][0]%></td>
										<td><%=setvaluereg_list[i][1]%></td>
										<td><%=setvaluereg_list[i][2]%></td>
										<td><%=setvaluereg_list[i][3]%></td>
										<td><%=setvaluereg_list[i][4]%></td>
									</tr>
									<% } %>
								</tbody>
							</table>

							<!-- Delete Registry Table -->
							<table class="table" id="d_registry" style="display: none;">
								<thead>
									<th>Time</th>
									<th>Hive</th>
									<th>Adress</th>
									<th>Key</th>
								</thead>
								<tbody>
									<% for(var i = 0; i < deletekeyreg_list.length; i++){%>
									<tr>
										<td><%=deletekeyreg_list[i][0]%></td>
										<td><%=deletekeyreg_list[i][1]%></td>
										<td><%=deletekeyreg_list[i][2]%></td>
										<td><%=deletekeyreg_list[i][3]%></td>
									</tr>
									<% } %>
								</tbody>
							</table>

							<!-- Socket Table -->
							<table class="table" id="socket" style="display: none;">
								<thead>
									<th>IP</th>
									<th>Port</th>
									<th>Status</th>
								</thead>
								<tbody>
									<% packet_cnt = 0 %>
									<% for(var i = 0; i < connect_list.length; i++){%>
									<tr onclick="show_packet(<%=i%>)">
										<td><%=connect_list[i][1]%></td>
										<td><%=connect_list[i][2]%></td>
										<td><%=connect_list[i][3]%></td>
									</tr>
									<tr style="display: none;" id="p_<%=i%>">
										<td colspan="3">
											<div class="container">
												<% if(connect_list[i].length > 4){%>
													<% for(var j = 4; j < connect_list[i].length; j++){%>
														<div class="row" style="height: 30px;">
															<div class="col-md-3 packet">
																<%=connect_list[i][j][3]%>
															</div>
															<div class="col-md-3 packet">
																<%=connect_list[i][j][0]%>
															</div>
															<div class="col-md-3 packet">
																<%=connect_list[i][j][1]%>
															</div>
															<div class="col-md-3 packet" style="border: 0px;">
																<button type="button" class="btn" data-toggle="modal" data-target="#ModaL" style="width: 80%; height: 100%;" onclick="modal(<%=packet_cnt%>, '<%=connect_list[i][j][0]%>', '<%=connect_list[i][j][1]%>')">
																	SHOW
																</button>
															</div>
														</div>
														<% packet_cnt += 1 %>
													<% } %>
												<% } %>
											</div>
											<!-- <ul class="list-group list-group-flush">
												<% if(connect_list[i].length > 4){%>
													<% for(var j = 4; j < connect_list[i].length; j++){%>
														
															<%=connect_list[i][j][3]%>&nbsp;&nbsp;
															<%=connect_list[i][j][0]%>&nbsp;&nbsp;
															<%=connect_list[i][j][1]%>&nbsp;&nbsp;
													<% } %>
												<% } %>
											</ul> -->
										</td>
									</tr>
									<% } %>
								</tbody>
							</table>

							<!-- Create Service Table -->
							<table class="table" id="c_service" style="display: none;">
								<thead>
									<th>Time</th>
									<th>Handle</th>
									<th>Service Name</th>
									<th>Adress</th>
								</thead>
								<tbody>
									<% for(var i = 0; i < createservice_list.length; i++){%>
									<tr>
										<td><%=createservice_list[i][0]%></td>
										<td><%=createservice_list[i][1]%></td>
										<td><%=createservice_list[i][2]%></td>
										<td><%=createservice_list[i][3]%></td>
									</tr>
									<% } %>
								</tbody>
							</table>

							<!-- Start Service Table -->
							<table class="table" id="s_service" style="display: none;">
								<thead>
									<th>Time</th>
									<th>Name</th>
								</thead>
								<tbody>
									<% for(var i = 0; i < startservice_list.length; i++){%>
									<tr>
										<td><%=startservice_list[i][0]%></td>
										<td><%=startservice_list[i][1]%></td>
									</tr>
									<% } %>
								</tbody>
							</table>

							<!-- Delete Service Table -->
							<table class="table" id="d_service" style="display: none;">
								<thead>
									<th>Time</th>
									<th>Name</th>
								</thead>
								<tbody>
									<% for(var i = 0; i < deleteservice_list.length; i++){%>
									<tr>
										<td><%=deleteservice_list[i][0]%></td>
										<td><%=deleteservice_list[i][1]%></td>
									</tr>
									<% } %>
								</tbody>
							</table>

							<!-- Control Service Table -->
							<table class="table" id="con_service" style="display: none;">
								<thead>
									<th>Time</th>
									<th>Service Name</th>
									<th>Type</th>
								</thead>
								<tbody>
									<% for(var i = 0; i < controlservice_list.length; i++){%>
									<tr>
										<td><%=controlservice_list[i][0]%></td>
										<td><%=controlservice_list[i][1]%></td>
										<td><%=controlservice_list[i][2]%></td>
									</tr>
									<% } %>
								</tbody>
							</table>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="ModaL" tabindex="-1" role="dialog" aria-labelledby="ModaL" aria-hidden="true">
		<div class="modal-dialog" role="document" style="max-width: none; width: 70%;">
		    <div class="modal-content">
		    	<div class="modal-header">
					<h5 class="modal-title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
		    	<div class="modal-body">
		    		<iframe id="modal_frame" src="" style="width: 100%; height: 400px;" frameborder = 0 framespacing = 0></iframe>
		    	</div>
		    </div>
	    </div>
	</div>
</body>
</html>
<script>
	tree_json = {
			chart: { container: '#tree-simple' },
			nodeStructure: {
				text: { name: '7680' },
				children: [
					{ text: { name: '1756' } },
					{ text: { name: '6744' } },
					{ text: { name: '3400' } },
					{ text: { name: '1988' } },
					{ text: { name: '2228' }, children: [{text:{name:3496}},{text:{name:4652}}] },
					{ text: { name: '1320' } },
					{ text: { name: '5332' } },
					{ text: { name: '8036' } },
					{ text: { name: '1540' } },
					{ text: { name: '2148' } }
				]
			}
		}
	var my_chart = new Treant(tree_json);

	function show_other(type) {
		$('#file').hide();
		$('#c_process').hide();
		$('#w_memory').hide();
		$('#c_registry').hide();
		$('#s_registry').hide();
		$('#d_registry').hide();
		$('#socket').hide();
		$('#c_service').hide();
		$('#s_service').hide();
		$('#d_service').hide();
		$('#con_service').hide();

		$('#'+type).show();
	}

	function show_packet(i) {
		if($('#p_'+i).is(':hidden')) {
			$('#p_'+i).show();
		}else {
			$('#p_'+i).hide();
		}
	}

	function modal(cnt, s1, s2) {
		$('#modal_frame').attr('src', '');
		<% var path = "/packet/" + timestamp + '/' + String(pid) + '?packetNum=' %>
		$('#modal_frame').attr('src', '<%=path%>'+cnt);
		$('.modal-title').html(s1+'/'+s2);
	}

	function show_file_path(i) {
		if($('#f_'+i).is(':hidden')) {
			$('#f_'+i).show();
		}else {
			$('#f_'+i).hide();
		}
	}
</script>